langchain
langchain-core
langchain-community
langchain-classic
langchain-google-genai
python-dotenv
pydantic
wikipedia
duckduckgo-search
arxiv
faiss-cpu
pypdf
docx2txt
python-docx
openpyxl
pandas
tiktoken
langchain-text-splitters