langchain
langchain-core
langchain-community
langchain-classic
langchain-google-genai
langchain-text-splitters

python-dotenv
pydantic

wikipedia
duckduckgo-search
arxiv

faiss-cpu
tiktoken

pypdf
docx2txt
python-docx
openpyxl
pandas
unstructured

flask
slack_bolt
requests
ddgs